<h2>Hello. We are HEP Puppet</h2>
<p><img src="http://www.gravatar.com/avatar/0bfcb9b7a398b47b6ef56527c79f78e0.png" alt="HEP Puppet" title="Follow us on twittername"  class="img-rounded floatLeft" />			
Who are we...</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=hep-puppet&repo=hep-puppet.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=erjjones&repo=erjjones.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/heppuppet" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @heppuppet</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/HEP-Puppet" rel="me" class="social github" title="Go to github.com/HEP-Puppet" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/heppuppet" rel="me" class="social twitter" title="Go to twitter.com/heppuppet" target="_blank"></a></li>
	</ul>
</p>
